* {
    padding: 0;
    margin: 0;
    

}

body{
    margin: 10px 50px;
    border: 10px; 
    border-style:double;
    border-radius: 20px;



}

.head{
    background-color:blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 10px;
    border-radius: 10px;
}

.main{
    display: flex;
    flex-direction: row;
    border: 5px;
    border-radius: 10px;
    border: solid;
}

.main-items{
    display: flex;
    flex-direction: row;
    flex: 1 1 100;
    border: 5px;
    border: solid;
}

.sidebar1{
    display: flex;
    flex-direction: column;
 
}

.sidebar1-items{
    display: flex;
    flex-direction: column;
    
   
}

.footer{
    background-color:blanchedalmond;
    height: 8vh;
    border: 10px;
    border: solid;
    border-radius: 10px;
    text-align: center;
}

.right-sidebar-items{
    display: flex;
    flex-direction: column;
}

.left-sidebar{
    display: flex;
    flex-direction: column;
}

.left-sidebar-items{
    display:flex;
    flex-direction: column;
}

.righ-sidebar{
    display: flex;
    flex-direction: column;
}