* {
    padding: 0;
    margin: 0;
    

}

body{
    margin: 10px 50px;
    border: 10px; 
    border-style:double;
    border-radius: 20px;



}

.head{
    background-color:blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 10px;
    border-radius: 10px;
}

.main{
    display: flex;
    flex-direction: column;
}

.main-items{
    display: flex;
    flex-direction: row;
    flex: 1 1 100;
}