* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}

body{
    margin: 10px 50px;
    border: 5px; 
    border: solid;
    border-radius: 20px;



}

.head{
    background-color:blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 5px;
    border-radius: 10px;
}

.main{
    display: flex;
    flex-direction: row;
    
    border-radius: 5px;
    border: solid;
    
}

.main-items{
    display: flex;
    flex-direction: row;
    flex: 1; 
    border: solid;
}

.sidebar1{
    display: flex;
    flex-direction: column;
}

.sidebar1-items{
    display: flex;
    flex-direction: column;
}

.footer{
    background-color:blanchedalmond;
    height: 15vh;
    border: 10px;
    border: solid;
    border-radius: 10px;
    text-align: center;
}

.right-sidebar-items{
    display: flex;
    flex-direction: column;
}

.left-sidebar{
    display: flex;
    flex-direction: column;

}

.left-sidebar-items{
    display:flex;
    flex-direction: column;
}

.right-sidebar{
    display: flex;
    flex-direction: column;
    align-content: center;

}

.unlist{
    text-decoration: none;
    list-style: none;
    align-items: center;

}

.profile-picture{
    width: 100px;
    height: 100px;
    align-self: center;

}

.h2{
    text-align: center;
}